@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

.Content {
    margin-top: 20%;
    font-size: 8rem;
    font-family: 'Source Serif Pro', serif;
    margin-left: 5%;
}